@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oleo+Script:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
  max-width: 95rem;
  margin: 0 auto;
}

.ekb {
  font-family: "EKB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.plusJak {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.rale {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.pops {
  font-family: "Poppins", sans-serif;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.robot {
  font-family: "Roboto", sans-serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
}

.public {
  font-family: "Public Sans", sans-serif;
}

.times {
  font-family: "Times New Roman", Times, serif;
}
    
.arial {
  font-family: "Arial Black", Arial Black, serif;
}

.dance-script {
  font-family: "Dancing Script", cursive;
}

.oleo-script {
  font-family: "Oleo Script", system-ui;
}

.tour-bg {
  background: url('/assets/images/tour_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.travel-bg {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.9),  rgba(255, 255, 255, 0.9)), url('/assets/images/inclusive/travel_bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* makes text start from bottom upwards */
    text-orientation: mixed;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 10% 3.9%;
    --accent: 240 5% 64.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.2% 33.9%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
    /* fonts for hero decorated text */
     --e-global-typography-vamtam_h1-font-family: "Helvetica", sans-serif;
    --e-global-typography-vamtam_h1-font-size: 4rem;
    --e-global-typography-vamtam_h1-font-weight: 700;
    --e-global-typography-vamtam_h1-line-height: 1.1;
    --e-global-typography-vamtam_h1-font-style: normal;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-vamtam-h1 {
    font: var(--e-global-typography-vamtam_h1-font-weight, normal)
          var(--e-global-typography-vamtam_h1-font-style, normal) 
          var(--e-global-typography-vamtam_h1-font-size) / 
          var(--e-global-typography-vamtam_h1-line-height) 
          var(--e-global-typography-vamtam_h1-font-family);
  }

  .fade-x {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
  }

  .fade-y {
    mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 25%,
      black 75%,
      transparent 100%
    );
  }

  .fade-top {
    mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
  }

  .fade-bottom {
    mask-image: linear-gradient(to top, transparent 0%, black 35%);
  }

  .fade-top-lg {
    mask-image: linear-gradient(to bottom, transparent 15%, black 100%);
  }

  .fade-bottom-lg {
    mask-image: linear-gradient(to top, transparent 15%, black 100%);
  }

  .fade-left {
    mask-image: linear-gradient(to right, transparent 0%, black 35%);
  }

  .fade-right {
    mask-image: linear-gradient(to left, transparent 0%, black 35%);
  }

  .fade-left-lg {
    mask-image: linear-gradient(to right, transparent 15%, black 100%);
  }

  .fade-right-lg {
    mask-image: linear-gradient(to left, transparent 15%, black 100%);
  }
}
